header h1{
    background-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}

#table{
    border-collapse: collapse;
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    border: solid 5px yellow;
}
.Tableau{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Tableau button{
    width : 40%;
    height: 50px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main div{
    margin: 2%;
}

h2{
    font-size: 28px;
    background-color: blue;
    color: white;
    text-align: center;
}
.center{
    display: flex;
    justify-content: center;
}

button{
    margin: 2%;
    border-radius: 45px;
}

p{
    margin-top: 10% ;
    margin-bottom: 10% ;
}

@font-face {
    font-family: 'Apex';
    src: url(Apex-Regular.ttf);
}

*{
    font-family: 'Apex';
}  
.center button{
    width: 60%;
    height: 60%;
}

#tabledejoueur th{
    width: 30%;
    border: solid 2px black;
}

.tableau_de_joueur{
    display: flex;
    justify-content: center;
}

#tabledejoueur{
    width:100%;
    border: solid 2px black;
    display: none;
}

#printTab{
    height: 50px;
}

body{
    background-image: url('fondecran.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
